<%= form_for [experiment, camera, pic] do |f| %>
  <% if pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :validated %>
    <%= f.check_box :validated %>
  </div>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.file_field :filename %>
    <% if f.object.filename? %>
      <%= image_tag f.object.filename.url %>
      <%= f.label :remove_filename %>
      <%= f.check_box :remove_filename %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :camera_id %>
    <%= f.hidden_field :camera_id, value: camera.id %>
    <%= camera.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
