<p id="notice"><%= notice %></p>

<h1>Pics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Validated</th>
      <th>Camera</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pics.each do |pic| %>
      <tr>
        <td><%= pic.filename %></td>
        <td><%= pic.validated %></td>
        <td><%= pic.camera_id %></td>
        <td><%= image_tag pic.filename.thumb.url %></td>
        <td><%= link_to 'Show', pic %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
          <td><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pic', new_pic_path %>
