<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @pic.filename %>
</p>

<% if user_signed_in? %>
<p>
  <strong>Validated:</strong>
  <%= @pic.validated %>
</p>
<% end %>

<p>
  <strong>Camera:</strong>
  <%= @pic.camera_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @pic.filename.url %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_experiment_camera_pic_path(@experiment, @camera, @pic) %> |
<% end %>
<%= link_to 'Back', experiment_camera_path(@experiment, @camera) %>
