<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @pic.filename %>
</p>

<p>
  <strong>Validated:</strong>
  <%= @pic.validated %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @pic.camera %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @pic.filename.url %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
