<p id="notice"><%= notice %></p>

<div>
  <% @experiments.each do |experiment| %>
    <article style="background: #fff url(../assets/images/bm.gif) top center no-repeat;" class="col-sm-12">
      <%= link_to experiment do %>
        <h3><%= experiment.name %></h3>
        <small><%= experiment.description %></small>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_experiment_path(experiment)%>
          <%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      <%end%>
    </article>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Experiment', new_experiment_path %>
<% end %>
