<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment.description %>
</p>

<p>
  <strong>Cameras:</strong>
  <%= render template: 'cameras/_list', locals: {cameras: @experiment.cameras, experiment: @experiment} %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<% end %>
<%= link_to 'Back', experiments_path %>
