<%= form_for [experiment, camera] do |f| %>
  <% if camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

      <ul>
      <% camera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :experiment_id %>
    <%= f.hidden_field :experiment_id, value: experiment.id %>
    <%= experiment.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
