<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% cameras.each do |camera| %>
      <tr>
        <td><%= camera.number %></td>
        <td><%= link_to 'Show', experiment_camera_url(experiment, camera) %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_experiment_camera_path(experiment, camera) %></td>
          <td><%= link_to 'Destroy', experiment_camera_url(experiment, camera), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Camera', new_experiment_camera_path(experiment) %>
<% end %>
