<div>
  <% cameras.each do |camera| %>
    <article class="col-sm-12" style="background: #fff url(<%= getImageUrlFromCamera(camera) %>) top center no-repeat; min-height: 300px; margin-bottom: 30px; margin-bottom: 30px;">
      <%= link_to experiment_camera_url(experiment, camera) do %>
        <h3>Camera #<%= camera.number %></h3>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_experiment_camera_path(experiment, camera) %></td>
          <td><%= link_to 'Destroy', experiment_camera_url(experiment, camera), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </article>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Camera', new_experiment_camera_path(experiment) %>
<% end %>
