<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @camera.number %>
</p>

<p>
  <strong>Experiments:</strong>
  <%= @camera.experiments %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
