<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @camera.number %>
</p>

<p>
  <strong>Experiment:</strong>
  <%= @camera.experiment.name %>
</p>

<p>
  <strong>Pictures</strong>
  <table class="table">
    <tbody>
      <% @pics.map do |pic| %>
        <tr>
          <% if user_signed_in? %>
            <td><%= pic.filename %></td>
            <td><%= pic.validated %></td>
          <% end %>
          <td><%= pic.camera_id %></td>
          <td><%= image_tag pic.filename.thumb.url %></td>
          <td><%= link_to 'Show', experiment_camera_pic_path(@experiment, @camera, pic) %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_experiment_camera_pic_path(@experiment, @camera, pic) %></td>
            <td><%= link_to 'Destroy', experiment_camera_pic_path(@experiment, @camera, pic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
</p>
<%= link_to 'New Pic', new_experiment_camera_pic_path(@experiment, @camera) %>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_experiment_camera_path(@experiment, @camera) %> |
<% end %>
<%= link_to 'Back', experiment_path(@experiment) %>
