<p id="notice"><%= notice %></p>

<h3>
  Camera #<%= @camera.number %>
</h3>

<small>
  <%= @camera.experiment.name %>
</small>

<hr>

<div class="col-sm-12">
  <% @pics.map do |pic| %>
    <article class="col-sm-6">
      <% if user_signed_in? %>
        <td><%= pic.filename %></td>
        <td><%= pic.validated %></td>
      <% end %>

      <%= link_to image_tag(pic.filename.url, style: "max-height: 300px;"), experiment_camera_pic_path(@experiment, @camera, pic) %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_experiment_camera_pic_path(@experiment, @camera, pic) %>
        <%= link_to 'Destroy', experiment_camera_pic_path(@experiment, @camera, pic), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </article>
  <%end%>
</div>

<hr class="col-sm-12">

<%= link_to 'New Pic', new_experiment_camera_pic_path(@experiment, @camera) %>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_experiment_camera_path(@experiment, @camera) %> |
<% end %>
<%= link_to 'Back', experiment_path(@experiment) %>
